.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  background-color: rgba(250, 250, 250, 0.7);
}

.login-title {
  color: #000000;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #000000;
  font-size: 1.2em;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ff0000;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  color: #0e0e0e;
  font-size: 1em;
}

.login-button {
  width: 100%;
  padding: 14px;
  background-color: #c49b6c;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  text-transform: uppercase;
}

.login-button:hover {
  background-color: #b7844a;
}

.option-link {
  color: #000000;
  text-decoration: none;
  font-size: 1em;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.option-link:hover {
  text-decoration: underline;
}
